<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/all.css" rel="stylesheet" />
    <link href="/css/bulma.css" rel="stylesheet" />
    <script src="/js/all.js"></script>
    <title>My Blogs</title>
  </head>
  <body class="has-background-light">
    <div class="container is-widescreen">
      <section class="hero">
        <div class="hero-body">
          <p class="title">My Stories</p>
        </div>
      </section>
      <section class="section" id="app">
          <div class="content">
            <form method="GET" action="/">
            <div class="columns">
              <div class="column is-4 is-offset-2">
                <input class="input" type="text" name="search" placeholder="ค้นชื่อบทความ" value="<%= search %>">
              </div>
              <div class="column is-2">
                <input class="button" type="submit" value="Search">
              </div>
              <div class="column is-2">
                <input class="button" type="button" value="Create New Blog" onClick="window.location.href = '/blogs/create/'">
              </div>
            </div>
          </form>
          </div>
            <div class="columns is-multiline">
              <% for (let blog of blogs) { %>
                <div class="column is-3">
                  <div class="card">
                      <div class="card-image pt-5">
                        <figure class="image">
                          <img src="<%= blog.file_path ? blog.file_path : 'https://bulma.io/images/placeholders/640x360.png' %>" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="title"><%= blog.title %> </div>
                        <div class="content">
                          <% if (blog.content.length > 200) { %>
                            <%= blog.content.substring(0, 197) + "..." %>
                          <% } else { %>
                            <%= blog.content %>
                          <% } %>
                        </div>
                        
                      </div>
                      <footer class="card-footer">
                        <a class="card-footer-item" href="<%= `/blogs/${blog.id}/` %>">Read more...</a>
                        <a class="card-footer-item">
                          <form method="POST" action="<%= `/blogs/addlike/${blog.id}` %>" id="form<%= blog.id %>">
                            <span class="icon-text" onclick="document.getElementById('form<%= blog.id %>').submit();">
                              <span class="icon">
                                <i class="far fa-heart"></i>
                              </span>
                              <span>Like (<%= blog.like %>)</span>
                            </span>
                          </form>
                        </a>
                      </footer>
                  </div>
                </div>
              <% } %>
            </div>
      </section>
  </div>
  </body>
</html>